.card1 {
  width: 180px;
  height: 264px;
  text-align: center;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card1-title,
.card1-price {
  font-size: 24px;
}

.card1-title {
  padding-top: 20px;
}

.card1-title,
.card1-price,
.card1-button-container button {
  font-weight: bold;
}

.card1-price {
  color: rgb(199, 198, 198);
  margin-bottom: 0;
  margin-top: 0;
}

.card1-title {
  color: rgb(30, 30, 30);
}

.card1-price-container {
  padding-top: 9px;
  padding-bottom: 1px;
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0px 0px 2em rgba(0, 0, 0, 0.3);
}
.card1-description {
  font-size: 16px;
  color: rgb(118, 118, 118);
}

.card1-benefits {
  list-style: none;
  position: relative;
  right: 10%;
}

.card1-benefits li {
  font-size: 13px;
  color: rgb(95, 94, 94);
}

.card1-benefits li:nth-child(1) {
  margin-top: 22px;
}

.card1-button-container button {
  margin-top: 10px;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: rgb(239, 239, 239);
  transition: box-shadow 0.15s ease-in-out;
  background: linear-gradient(90deg, #5f03f4, #2b2bff, #3838ff, #5f03f4);
}

.card1-button-container button:hover {
  box-shadow: 0px 0px 15px 0px #3838ff;
  transition: box-shadow 0.15s ease-in-out;
}

.card2 {
  width: 180px;
  height: 264px;
  padding: 6px;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card2 .card2-title,
.card2 .writer {
  color: black;
}

.card2 .card2-title {
  font-size: 22px;
  font-weight: bold;
  padding: 9px 7px 0;
}

.card2 .card2-description {
  padding: 7px;
  font-size: 13px;
}

.card2 .writer {
  font-weight: 800;
}

.card2 img {
  width: 100%;
  height: 130px;
  background-color: rgb(236, 236, 236);
}

.card2 .details {
  color: gray;
  font-size: 11px;
  padding-top: 11px;
}

.card2 img:hover {
  transform: scale(0.98);
}

.card3 {
  width: 180px;
  height: auto;
  padding: 15px 10px;
  color: black;
  text-align: center;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card3-title {
  font-size: 20px;
  font-weight: bold;
}

.card3-description {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(75 85 99);
}

.card3-actions {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.card3-accept,
.card3-manage {
  font-size: 14px;
  color: #fff;
  margin: 4px;
  padding: 8px 5px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #5f03f4, #2b2bff, #3838ff, #5f03f4);
}

.card3-accept:hover,
.card3-manage:hover {
  box-shadow: 0px 0px 15px 0px #3838ff;
}

.flexteste {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
